:root {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;

    --text: var(--base0);
    --textHL: var(--base1);
    --textLL: var(--base01);
    --bg: var(--base03);
    --bgHL: var(--base02);
}

html {
    font-family: Verdana, Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text);
}


.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 98vh;

}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.btn {
    color: var(--textHL);
    background-color: var(--bgHL);
    border: none;
    border-radius: 6px;
    width: 75px;
    height: 60px;
    font-size: larger;
    transition-duration: 100ms;
}

.btn:hover {
    background-color: var(--textLL);
    color: var(--bg);
    width: 100px;
    transition-duration: 250ms;
}

.btn:active {
    background-color: var(--base1);
    color: var(--bg);
    transition-duration: 100ms;
}

.buttonContainer,
.endContainer {
    flex: 1;
}

.gridContainer {
    background-color: var(--bgHL);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
    height: 700px;
    border-radius: 10px;
    padding: 16px;

}


.gridRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.block {
    background-color: var(--base3);
    width: 100%;
    height: 100%;
    border: black solid 1px;
}