:root {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;

    --text: var(--base0);
    --textHL: var(--base1);
    --textLL: var(--base01);
    --bg: var(--base03);
    --bgHL: var(--base02);
}

html {
    font-family: Verdana, Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text);
}


.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
}

.gridContainer {
    background-color: var(--bgHL);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
}